{% extends 'base.html.twig' %} 

{% block title %}Fusion++{% endblock %} 

{% block body %} 

<h1>Tableau 1</h1>
<ul>
    {% for tab1 in tab1 %}
        <li>{{ tab1|e }}</li>
    {% endfor %}
</ul>

<h1>Tableau 2</h1>
<ul>
    {% for tab2 in tab2 %}
        <li>{{ tab2|e }}</li>
    {% endfor %}
</ul>

{% endblock %}