{% extends 'base.html.twig' %} 

{% block title %}Fusion++{% endblock %} 

{% block body %} 

    <style>
        #form_melange_type, #btn_Submit{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:1em;
            font-size: 25px;
        }

        #btn_Submit button{
            font-size: 20px;
        }

        #form_melange_type div{
            margin-top:10%;
        }

        #form_melange_type_0{
            margin-right: 5em;
        }

        #form_melange_type div *{
            font-size: 30px;
        }

        #form_melange_type_0,#form_melange_type_1{
            height: 25px;
            width: 25px;
            margin-left: 1em;
        }
        
    </style>

    <div id="form">
        {% if form is defined %}
            {{ form_start(form.type) }}
                <div id="form_melange_type">
                    {{ form_rest(form.type) }}
                </div>
                
                <div id="btn_Submit">
                    <button type="submit">Enregistrer</button>
                </div>
                
            {{ form_end(form) }}
        {% endif %}
    </div>
    

    {% if choix is defined %}
        <h1>{{choix}}</h1>
    {% endif %}

{% endblock %}