{% extends 'base.html.twig' %}

{% block title %}Fusion++{% endblock %}

{% block body %}

    <h1>Download</h1>

    <a href="{{path('download_file')}}">Télecharger votre fichier CSV</a>

{% endblock %}