{% extends 'base.html.twig' %} 

{% block title %}Fusion++{% endblock %} 

{% block body %} 

<h1>Tableau 3</h1>
<ul>
    {% for tableau in tableau %}
        <li>{{ tableau.FeetInches|e }}</li>
    {% endfor %}
    <li>Nombre de ligne : {{tableau|length}}</li>
</ul>


{% endblock %}