{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}

  <form action="{{ path('index') }}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div id="titre">
            <label for="myfile">Importer vos fichiers :</label>
        </div>

        <div id="import1">
            <input type="file" name="myfile" id="myfile">
        </div>

        <div id="import2">
            <input type="file" name="myfile2" id="myfile">
        </div>

        <div id="bouton">
        <button type="submit" id="submit">Envoyer</button>
        </div>

  </form>

  <style>
      #titre label{
        text-decoration: underline;
        margin-top:3em;
        font-size: 50px;
        margin-bottom: 1.5em;
      }

      #import1,#import2{
        margin-left : 9em;
        margin-bottom: 2em;
      }

      #bouton button{
        margin-top: 1em;
      }

      #myfile{
        font-size: 25px;
      }

      #submit{
        font-size: 25px;
      }
  </style>

{% endblock %}